In [1]:
# pandasライブラリをimport
import pandas as pd

In [2]:
# dfという名前のdataframeにcsvファイルを読み込む。
df = pd.read_csv('sensor_data.csv')

# df2という名前のdataframeにexcelファイルを読み込む。
df2 = pd.read_excel('bunsekiti.xlsx')

In [3]:
#始めの５行を表示
df.head()

,Unnamed: 0,FC001.PV,FC001.MV,FC002.SV,FC002.PV,FC002.MV,LC001.PV,LC002.PV,LC003.PV,PC001.SV,PC001.PV,PC001.MV,PC002.PV,PC003.PV
0,2022/1/1 0:00,10.37,51.95,10.0,13.33,40.45,51.65,88.75,79.37,0.15,0.158,43.0,57.102,101.5
1,2022/1/1 1:00,11.47,50.77,10.0,8.28,40.90,57.27,88.01,78.92,0.15,0.158,41.0,52.966,101.6
2,2022/1/1 2:00,10.15,51.72,10.0,11.19,40.37,55.67,82.92,83.22,0.15,0.151,48.0,51.123,101.7
3,2022/1/1 3:00,10.08,55.87,10.0,8.90,40.02,59.20,85.89,71.49,0.15,0.160,38.0,54.457,101.6
4,2022/1/1 4:00,11.26,58.98,10.0,9.25,40.52,54.47,83.73,78.14,0.15,0.153,36.0,57.351,101.3

In [4]:
#初めの５行を表示
df2.head()

,Unnamed: 0,品質,品質_A,品質_B,品質_C,品質_D,触媒_1,触媒_2,ガス _1,ガス _2,ガス _3
0,2022-01-01 01:00:00,合格,2.442099,91,4.401140,<0.01,207.284167,312.703892,18.199695,118.199695,200.000000
1,2022-01-01 05:00:00,合格,1.920000,93,4.110000,<0.01,201.100000,305.700000,17.500000,116.600000,80.000000
2,2022-01-01 09:00:00,合格,1.461008,90,3.415250,<0.01,209.447585,325.500424,14.090105,114.090105,20.086621
3,2022-01-01 13:00:00,合格,1.273246,98,3.264472,<0.01,203.089998,307.102350,18.260072,118.260072,200.000000
4,2022-01-01 17:00:00,合格,2.499994,95,4.477718,<0.01,208.286807,323.368686,17.227833,117.227833,200.000000

In [5]:
# headerという引数に行数を指定する。
df = pd.read_csv('sensor_data2.csv', header=1)
df.head()

,Unnamed: 0,FC001.PV,FC001.MV,FC002.SV,FC002.PV,FC002.MV,LC001.PV,LC002.PV,LC003.PV,PC001.SV,PC001.PV,PC001.MV,PC002.PV,PC003.PV
0,2022/1/1 0:00,10.37,51.95,10.0,13.33,40.45,51.65,88.75,79.37,0.15,0.158,43.0,57.102,101.5
1,2022/1/1 1:00,11.47,50.77,10.0,8.28,40.90,57.27,88.01,78.92,0.15,0.158,41.0,52.966,101.6
2,2022/1/1 2:00,10.15,51.72,10.0,11.19,40.37,55.67,82.92,83.22,0.15,0.151,48.0,51.123,101.7
3,2022/1/1 3:00,10.08,55.87,10.0,8.90,40.02,59.20,85.89,71.49,0.15,0.160,38.0,54.457,101.6
4,2022/1/1 4:00,11.26,58.98,10.0,9.25,40.52,54.47,83.73,78.14,0.15,0.153,36.0,57.351,101.3

In [6]:
# index_colという引数に列数を指定する。
df = pd.read_csv('sensor_data2.csv', header=1, index_col=0)
df.head()

,FC001.PV,FC001.MV,FC002.SV,FC002.PV,FC002.MV,LC001.PV,LC002.PV,LC003.PV,PC001.SV,PC001.PV,PC001.MV,PC002.PV,PC003.PV
2022/1/1 0:00,10.37,51.95,10.0,13.33,40.45,51.65,88.75,79.37,0.15,0.158,43.0,57.102,101.5
2022/1/1 1:00,11.47,50.77,10.0,8.28,40.90,57.27,88.01,78.92,0.15,0.158,41.0,52.966,101.6
2022/1/1 2:00,10.15,51.72,10.0,11.19,40.37,55.67,82.92,83.22,0.15,0.151,48.0,51.123,101.7
2022/1/1 3:00,10.08,55.87,10.0,8.90,40.02,59.20,85.89,71.49,0.15,0.160,38.0,54.457,101.6
2022/1/1 4:00,11.26,58.98,10.0,9.25,40.52,54.47,83.73,78.14,0.15,0.153,36.0,57.351,101.3

In [7]:
df2 = pd.read_excel('bunsekiti.xlsx', index_col=0)

# 行数と列数を表示
df2.shape

(31, 10)

In [8]:
# columns_nameというリストに10個、列名を入力
columns_name = ['Q', 'Q_A', 'Q_B', 'Q_C', 'Q_D', 'C_1', 'C_2', 'G_1', 'G_2', 'G_3']

# df2.columnsにcolumns_nameを代入する
df2.columns = columns_name

In [9]:
#index名をTimeにする
df2.index.name = 'Time'

#一応確認
df2.head()

,Q,Q_A,Q_B,Q_C,Q_D,C_1,C_2,G_1,G_2,G_3
Time,,,,,,,,,,
2022-01-01 01:00:00,合格,2.442099,91,4.401140,<0.01,207.284167,312.703892,18.199695,118.199695,200.000000
2022-01-01 05:00:00,合格,1.920000,93,4.110000,<0.01,201.100000,305.700000,17.500000,116.600000,80.000000
2022-01-01 09:00:00,合格,1.461008,90,3.415250,<0.01,209.447585,325.500424,14.090105,114.090105,20.086621
2022-01-01 13:00:00,合格,1.273246,98,3.264472,<0.01,203.089998,307.102350,18.260072,118.260072,200.000000
2022-01-01 17:00:00,合格,2.499994,95,4.477718,<0.01,208.286807,323.368686,17.227833,117.227833,200.000000

In [10]:
df2.index

DatetimeIndex([       '2022-01-01 01:00:00',        '2022-01-01 05:00:00',
                      '2022-01-01 09:00:00',        '2022-01-01 13:00:00',
                      '2022-01-01 17:00:00',        '2022-01-01 21:00:00',
                      '2022-01-02 01:00:00',        '2022-01-02 05:00:00',
                      '2022-01-02 09:00:00', '2022-01-02 13:00:00.010000',
               '2022-01-02 17:00:00.015000', '2022-01-02 21:00:00.020000',
               '2022-01-03 01:00:00.025000', '2022-01-03 05:00:00.030000',
               '2022-01-03 09:00:00.035000', '2022-01-03 13:00:00.040000',
               '2022-01-03 17:00:00.045000', '2022-01-03 21:00:00.050000',
               '2022-01-04 01:00:00.055000', '2022-01-04 05:00:00.060000',
               '2022-01-04 09:00:00.065000', '2022-01-04 13:00:00.070000',
               '2022-01-04 17:00:00.075000', '2022-01-04 21:00:00.080000',
               '2022-01-05 01:00:00.085000', '2022-01-05 05:00:00.090000',
               '2022-01-05 09:00:00.095000', '2022-01-05 13:00:00.100000',
               '2022-01-05 17:00:00.105000', '2022-01-05 21:00:00.110000',
               '2022-01-06 01:00:00.115000'],
              dtype='datetime64[ns]', name='Time', freq=None)

In [11]:
# indexのデータをdatetime型に変換
df2.index = pd.to_datetime(df2.index)
df2.index

DatetimeIndex([       '2022-01-01 01:00:00',        '2022-01-01 05:00:00',
                      '2022-01-01 09:00:00',        '2022-01-01 13:00:00',
                      '2022-01-01 17:00:00',        '2022-01-01 21:00:00',
                      '2022-01-02 01:00:00',        '2022-01-02 05:00:00',
                      '2022-01-02 09:00:00', '2022-01-02 13:00:00.010000',
               '2022-01-02 17:00:00.015000', '2022-01-02 21:00:00.020000',
               '2022-01-03 01:00:00.025000', '2022-01-03 05:00:00.030000',
               '2022-01-03 09:00:00.035000', '2022-01-03 13:00:00.040000',
               '2022-01-03 17:00:00.045000', '2022-01-03 21:00:00.050000',
               '2022-01-04 01:00:00.055000', '2022-01-04 05:00:00.060000',
               '2022-01-04 09:00:00.065000', '2022-01-04 13:00:00.070000',
               '2022-01-04 17:00:00.075000', '2022-01-04 21:00:00.080000',
               '2022-01-05 01:00:00.085000', '2022-01-05 05:00:00.090000',
               '2022-01-05 09:00:00.095000', '2022-01-05 13:00:00.100000',
               '2022-01-05 17:00:00.105000', '2022-01-05 21:00:00.110000',
               '2022-01-06 01:00:00.115000'],
              dtype='datetime64[ns]', name='Time', freq=None)